/* Prevents phone from re-sizing text in landscape mode*/
  html{
    -webkit-text-size-adjust: none;
  }

  /* Apply a natural box layout model to all elements */

  *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


/* ------- BODY ---------*/

  body{
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    background-image: url(../gradientBG.png);
    background-repeat: repeat-x;
  }

/* ------- CONTAINER ---------*/

  #container{
    background-color: grey; /* becomes the nav background color*/
    min-width: 320px;
    max-width: 960px;
  }

/* ------- HEADER ---------*/

  header{
    background-color: #111;
    border-bottom: solid mediumTurquoise 5px;
  }
  header img{
    width: 15%;
    height: 15%;
    float: left;
    padding: .5em 2%;
  }
  header h1{
    font-size: 1.8em;
    padding-top: .2em;
    color: salmon;
  }
  header h2{
    font-size: 1.1em;
    padding: .3em 0 .6em 0;
    color: mediumTurquoise;
  }

/* ------- NAVIGATION ---------*/

  nav{}
  nav ul li{
    width: 90%;
    list-style: none;
  }
  nav ul li a {
    display: block;
    text-align: center;
    padding: .7em;
    background-color: cadetBlue;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    margin: .5em;
    font-size: .85em;

  }
  nav ul li.active a{
    background-color: salmon;
    color: white;
  }
  nav ul li a:hover {
    background-color: #999;
    color: black;
  }


/* ------- CONTENT ---------*/

  #content{
    min-height: 5em;
    background-color: white;
  }
  #content h1{
    margin: 1em 2% 0 2%;
    font-size: 1.5em;
    color: #b8005c;
  }
  #content p{
    padding-bottom: .5em;
  }
  #content article{
    margin: 0 2%;
  }
  #content article.news, #content article.tweet{
    background-color: #ddd;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  article.news h2, article.tweet h2{
    color: #fff;
    font-size: .8em;
    padding: .5em;
  }
  article.news h2{
    background-color: salmon;
  }
  article.tweet h2{
    background-color: mediumTurquoise;
  }
  article.news h3, article.tweet h3{
    font-size: 1em;
    padding: .5em;
  }
  article.news h3{
    color: salmon;
  }
  article.tweet h3{
    color: mediumTurquoise;
  }
  article.news p, article.tweet p{
    color: #666;
    font-size: .8em;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 120%;
  }



/* ------- IMAGES ---------*/

  figure{
      margin: 0 auto;
  }
  figure.w100{
    width: 100%;
  }
  figure.w33{
    width: 96%;
    border: 1px solid #999;
    margin: .3em 0 .3em 2%;
  }
  figure img{
    width: 100%;
  }

  #content figcaption{
    text-align: center;
    font-size: .6em;
    color: #777;
    padding: .3em;
  }


/* ------- FOOTER ---------*/

  footer{
    clear: both;
    text-align: center;
    padding: 1em;
    background-color: #111;
    color: white;
    font-size: .6em;

  }

  /* ------- OTHER ---------*/

    .keepOpen{
      clear: both;
    }
