@media only screen and (min-width: 600px){

  /* ------- BODY ---------*/

    body{}

  /* ------- CONTAINER ---------*/

    #container{}

  /* ------- HEADER ---------*/

    header h1{
        padding-top: 1.1em;
    }

  /* ------- NAVIGATION ---------*/

    nav{
        background-color: cadetBlue;
    }
    nav ul{
        margin: 0; /* pull nav up right underneath our header */
    }

    nav ul li a{
        float: left; /* makes our nav items stack side by side */
        border: none; /* turn off our border */
        border-radius: 0px; /* turn off our border radius */
        margin: 0;


    }

  /* ------- CONTENT ---------*/

  /* ------- IMAGES ---------*/

  figure.w33{
    width: 46%;
    float: right;
  }


  /* ------- FOOTER ---------*/

}
